.container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f5f5f5;
    font-family: Roboto;
    margin-left: 70px;
    margin-right: 70px;
}

.header-effect {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}
.boton{
    display: inline-block;
    padding: 10px 20px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    left: 45%;
    position: relative;
    right: 55%;
}
